:root {
    /* Surface */
    --surface-main: #151515;
    --surface-zero: #ffffff;
    --surface-zero-alfa: rgba(255, 255, 255, 0.2);
    --surface-normal-alfa: rgba(72, 72, 72, 0.3);
    --surface-light: #ebedf0;
    --surface-accent: #9448ff;

    /* Icotex */
    --icotex-normal: #151515;
    --icotex-white: #f3f3f3;
    --icotex-white-alfa: rgba(243, 243, 243, 0.4);
    --icotex-low: #b0b0b0;
    --icotex-lowest: #5e5e5e;
    --icotex-info: #485aff;
}
html, body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* убираем любые скроллы */
    position: fixed;  /* фиксируем страницу */
    top: 0;
    left: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0; /* убираем дефолтные отступы */
    font-family: "Gilroy", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--icotex-white);
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Bold.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Black.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Semibold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}
