:root {
    /* Surface */
    --surface-main: #151515;
    --surface-zero: #ffffff;
    --surface-zero-alfa: rgba(255, 255, 255, 0.2);
    --surface-normal-alfa: rgba(72, 72, 72, 0.3);
    --surface-light: #ebedf0;
    --surface-accent: #9448ff;

    /* Icotex */
    --icotex-normal: #151515;
    --icotex-white: #f3f3f3;
    --icotex-white-alfa: rgba(243, 243, 243, 0.4);
    --icotex-low: #b0b0b0;
    --icotex-lowest: #5e5e5e;
    --icotex-info: #485aff;
}

/* Базовая разметка */
html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: var(--tg-viewport-stable-height, 100dvh); /* ✅ поддержка Telegram SDK и iOS */
    overflow: hidden;
    font-family: "Gilroy", sans-serif;
    background: var(--surface-main);

    /* ✅ поддержка системных safe-area (iOS чёлка, home bar и пр.) */
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: "Gilroy", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--icotex-white);
}

/* Шрифты */
@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
